{% extends 'layout.html'%}
{% block content %}
<div class="upload-container">
    <h2 class="upload-title">比較したい動画をアップロードしてください!</h2>
    <div class="upload-form">
        <form action="/upload" method="post" enctype="multipart/form-data" class="upload-form">
            <label for="upload_file1" class="upload-label">動画1を選択</label>
            <input type="file" id="upload_file1" name="upload_file1" multiple="multiple" class="upload-input">
            <input type="submit" value="送信" class="upload-button">
        </form>
        <form action="/upload" method="post" enctype="multipart/form-data" class="upload-form">
            <label for="upload_file2" class="upload-label">動画2を選択</label>
            <input type="file" id="upload_file2" name="upload_file2" multiple="multiple" class="upload-input">
            <input type="submit" value="送信" class="upload-button">
        </form>
    </div>
</div>
{% endblock %}

